# Credentials 
*.env

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Jupyter 
.ipynb_checkpoints/

# Delta / Spark local artifacts
derby.log
metastore_db/
spark-warehouse/
.streamlit/secrets.toml